/* ----- Form component styles ----- */

.form {
    text-align: center;
    background-color: $colorBackground9;
    &__label {
        color: $colorBackground4;
        font-size: 18px;
    }
    &__input {
        display: block;
        margin: 10px 0 30px;
        padding: 6px;
        width: 100%;
        font-size: 15px;
        color: $colorBackground9;
    }
    &__message {
        resize: none;
        overflow: auto;
    }
    &__error {
        &-container {
            display: none;
        }
        &-header {
            font-size: 24px;
            padding: 0 0 10px;
            color: $error-text;
        }
        &-list {
            list-style-type: disc;
        }
        &-item {
            display: block;
        }
        &-text {
            color: $error-text;
        }
        &-mark {
            border: 1px solid $error-outline;
            background-color: $error-text;
        }
    }
    &--error {
        .form__error-container {
            display: block;
            padding: 20px 0 30px;
        }
    }
}
