<nav class="nav" data-action="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__link" href="{{@root.relpath}}blog">Blog</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="{{@root.relpath}}contacto">Contacto</a>
        </li>
    </ul>
</nav>