<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="description" content="IPN Ingeniería de Procesos de Negocios">
        <meta name="keywords" content="IPN, Ingeniería de Procesos de Negocios, ipncr, procesos, negocios">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="google-site-verification" content="GaraR9eNHGSAdFn_vNopNZjYXS-m82D57pCvR4mkd-I" />
        <link rel="icon" href="/images/favicon.ico">
        <!-- build:cssvendor(app) /styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css /styles/style.css -->
        <link rel="stylesheet" href="/styles/style.css">
        <!-- endbuild -->

        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <div class="bg-container"></div>
        <div class="wrapper">
            {{> header}}
            {{{body}}}
        </div>
       
        <!-- build:jsvendor(app) /scripts/vendor/vendor.js -->
        <script src="/scripts/vendor/jquery-2.2.4.min.js"></script>
        <script src="/scripts/vendor/slick.min.js"></script>
        <script src="/scripts/vendor/vue.min.js"></script>
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(app) /scripts/main.js -->
        <script src="/components/article/article.js"></script>
        <script src="/components/form/form.js"></script>
        <script src="/components/hero/hero.js"></script>
        <script src="/components/fragment/fragment.js"></script>
        <script src="/components/nav/nav.js"></script>
        <script src="/components/footer/footer.js"></script>
        <script src="/components/header/header.js"></script>
        <script src="/scripts/core/controller.js"></script>
        <script src="/scripts/util.js"></script>
        <script src="/scripts/global.js"></script>
        <!-- endbuild -->
    </body>
</html>