/* ----- Footer component styles ----- */

.footer {
    background-color: $colorBackground9;
    @include respond-to($desktop) {
        padding: 25px 40px;
    }
    .text {
        font-size: 13px;
        color: $colorText1;
    }
    &--alt {
        background-color: $colorText1;
        .text {
            color: $colorBackground9;
        }
    }
}
