/* ----- Footer component styles ----- */

.footer {
    position: relative;
    background-color: $colorBackground9;
    @include respond-to($desktop) {
        padding: 25px 40px;
    }
    .text {
        font-size: 13px;
        color: $colorText1;
    }
    &__icon {
        width: 40px;
        height: 40px;
        &-container {
            position: absolute;
            top: 30px;
            right: 20px;
            @include respond-to($desktop) {
                right: 40px;
            }
        }
    }
    &--alt {
        background-color: $colorText1;
        .text {
            color: $colorBackground9;
        }
    }
}
