<footer id="footer" class="footer{{class}} container" data-action="footer">
    <p class="text desktop-ib">E-mail: info@ipn.co.cr</p>
    <span class="text desktop"> | </span>
    <p class="text desktop-ib">Teléfono: 2280-8787</p>
    <a class="footer__icon-container" href="https://www.facebook.com/innovacionmodelosdenegocio" target="_blank"><img class="footer__icon" src="/images/fb-icon.png" alt="Facebook Icon"></a>    </p>
    <p class="text">&copy; <script>document.write(new Date().getFullYear())</script> - IPN</p>
</footer>
