<main class="main contacto" data-action="contacto">
    {{> hero }}
    <div class="content__wrapper">
        {{!-- {{#each users}}
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{ this.name }}</h3>
                    <br>
                    <small> {{ this.email }} </small>
                    <br>
                    <p class="intro">{{ this.number }}</p>
                    <p class="url">{{ this.createdAt }}</p>
                </div>
            </div>
        {{/each}} --}}
        {{> form }}
        {{> footer class=' footer--alt'}}
    </div>
</main>
