---
relpath: ../
title: IPN - Error
isNotRoot: true
name: error
---
<main class="main error" data-action="error">
    {{> hero }}
    <div class="content__wrapper">
        <h3>{{error.status}}</h3>    
        <h3>{{message}}</h3>
        <pre>{{error.stack}}</pre>
        {{> footer }}
    </div>
</main>
