<main class="main error" data-action="error">
    {{> hero }}
    <div class="content__wrapper">
        <a href="/" class="btn btn-back">Volver</a>
        {{#if dev}}
            <br>
            <br>
            <br>
            <p>{{error.stack}}</p>
        {{/if}}
    </div>
</main>
