<main class="main error" data-action="error">
    {{> hero }}
    {{#if dev}}
        <div class="content__wrapper">
            <p>{{error.stack}}</p>
        </div>
    {{/if}}
    {{#if back}}
        <div class="content__wrapper">
            <a href="/contacto" class="btn btn-back">Volver</a>
        </div>
    {{/if}}
</main>
