<main class="main index" data-action="index">
    {{> hero }}
    <div class="content__wrapper">
        {{> fragment about=true}}
        {{> fragment services=true}}
        {{> fragment portfolio=true}}
        {{> fragment more=true}}
        {{> footer class=' footer--alt'}}
    </div>
</main>