<section class="hero container" data-action="hero">
    <h1 class="hero__title js-hero-title">
        Ingeniería de Procesos de Negocios
    </h1>
    <p class="hero__description">Acompañando empresas líderes en el logro de resultados</p>
    {{!-- <h3>Casos de éxito</h3>
    <p>BAYER | KEITH & RAMIREZ | LOGOSOFT | INTERBOLSA | CAPRIS BRUNCA SOLUCIONES FINANCIERAS | TORNECA | CORPORACION ALVAREZ & MARIN</p> --}}
</section>
