<section class="hero container" data-action="hero">
    <h1 class="hero__title">IPN Ingeniería de Procesos de Negocios</h1>
    <h2 class="hero__description">Acompañando empresas líderes en el logro de resultados</h2>
</section>
