<main class="main index" data-action="index">
    {{> hero }}
    {{> fragment class='about'}}
    {{> fragment class='gallery'}}
    {{> fragment class='more-info'}}
    {{> fragment class='contact'}}
</main>