<main class="main index" data-action="index">
    {{> hero }}
    <div class="content__wrapper">
        {{> fragment class='services'}}
        {{> fragment class='gallery'}}
        {{> fragment class='more-info'}}
        {{> fragment class='contact'}}
    </div>
</main>