/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

/* ----- Colors ----- */

$colorBackground1: #25274D;
$colorBackground2: #464866;
$colorBackground3: #AAABB8;
$colorBackground4: #2E9CCA;
$colorBackground5: #29648A;
$colorBackground6: #204760;
$colorText1: #fff;
$colorText2: #000;

/* ----- Responsive ----- */

$tablet : 768px;
$desktop: 1024px;
