/* ----- Article component styles ----- */

.article {
    background-color: $colorText1;
    padding: 40px 20px 50px;
    @include respond-to($tablet) {
        padding: 40px 60px 80px;
    }
    &__item {
        padding: 40px 20px;
        overflow: hidden;
        @include respond-to($tablet) {
            padding: 40px;
        }
    }
    &__title {
        padding: 0 0 20px;
        color: $colorBackground9;
        text-align: center;
    }
    &__subtitle {
        padding: 0 0 20px;
        color: $colorBackground5;
        text-align: center;
        font-weight: normal;
    }
    &__date {
        color: $colorBackground5;
    }
    &__intro {
        color: $colorBackground9;
        &-container {
            order: 2;
            @include respond-to($tablet) {
                order: 1;
            }
        }
    }
    &__img {
        max-height: 340px;
        width: 100%;
        margin: 0 auto;
        @include respond-to($tablet) {
            max-height: 200px;
        }
        @include respond-to($desktop) {
            max-height: 250px;
        }
        &-container {
            margin: 0 auto;
            padding: 0 0 10px;
            max-width: 100%;
            order: 1;
            @include respond-to($tablet) {
                padding: 0;
                order: 2;
            }
        }
    }
    &__link {
        display: inline-block;
        padding: 10px 0;
        color: $colorBackground10;
    }
    /* ----- Slick override styles ----- */
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slick-prev,
    .slick-next {
        top: 45px;
        height: 38px;
        width: 38px;
        z-index: 1;
        @include respond-to($tablet) {
            top: 50%;
        }
    }
    .slick-prev {
        left: 20px;
        @include respond-to($tablet) {
            left: 30px;
        }
    }
    .slick-next {
        right: 35px;
        @include respond-to($tablet) {
            right: 50px;
        }
    }
    .slick-prev:before, 
    .slick-next:before {
        font-size: 40px;
        color: $colorBackground5;
        opacity: 1;
    }
    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        &:before {
            color: $colorBackground9;
        }
    }
    .slick-dots {
        bottom: 35px;
        width: calc(100% - 40px);
        @include respond-to($tablet) {
            bottom: 50px;
            width: calc(100% - 120px);
        }
        li>button {
            height: 15px;
            width: 15px;
            color: $colorText1;
            background-color: $colorBackground10;
            border-radius: 50%;
            &:before {
                content: ' ';
            }
            &:focus {
                outline: 1px dotted $colorBackground9;
            }
        }
        li.slick-active>button {
            color: $colorText2;
            background-color: $colorText1;
            border: 1px solid $colorBackground10;
        }
    }
}
