---
relpath: ./
title: IPN
name: home
---
<main class="main index" data-action="index">
    {{> hero }}
    <div class="content__wrapper">
        {{> fragment class='services'}}
        {{> fragment class='gallery'}}
        {{> fragment class='more-info'}}
        {{> fragment class='contact'}}
        {{> footer }}
    </div>
</main>