---
relpath: ../
title: IPN - Contacto
isNotRoot: true
name: contacto
---
<main class="main contacto" data-action="contacto">
    {{> hero }}
    <div class="content__wrapper">
        {{> form }}
        {{> footer }}
    </div>
</main>
