/* ----- Nav component styles ----- */

.nav {
    &__list {

    }
    &__item {
        
    }
    &__link {
        color: $colorText1;
        font-size: 18px;
        font-weight: bold;
        padding-right: 30px;
    }
}
