<nav class="nav" data-action="nav">
    <ul>
        <li>
            <a href="#hero">HOME</a>
        </li>
        <li>
            <a href="#about">CONOZCANOS</a>
        </li>
        <li>
            <a href="#contact">CONTACTENOS</a>
        </li>
    </ul>
</nav>