/* ----- Fragment component styles ----- */

.fragment {
    padding: 40px 20px;
    background-color: $colorBackground7;
    &__title {
        padding: 0 0 20px;
        color: $colorBackground9;
        text-align: center;
        &--next {
            padding: 20px 0;
        }
    }
    &__subtitle {
        padding: 0 0 20px;
        font-weight: normal;
    }
    &__link {
        color: $colorBackground10;
    }
    &__more {
        padding: 0 0 20px;
        .fragment__title {
            color: $colorBackground4;
        }
    }
    &--alt {
        background-color: $colorBackground9;
        .fragment__title,
        .text {
            color: $colorText1;
        }
        .fragment__item {
            padding: 0 0 20px;
            .fragment__title {
                color: $colorBackground4;
            }
        }
    }
}
