/* ----- Fragment component styles ----- */

.fragment {
    background-color: $colorBackground2;
    &--alt {
        background-color: $colorBackground6;
    }
    &__title {
        color: $colorBackground4;
    }
    &__gallery-title {
        color: $colorBackground4;
    }
    &__gallery-subtitle {
        font-weight: normal;
    }
}
