/* ----- Hero component styles ----- */

.hero {
    padding: 80px 20px;
    text-align: center;
    @include respond-to($desktop) {
        padding: 80px 0;
    }
    &__title {
        font-size: 34px;
        color: $colorText1;
        letter-spacing: 1px;
        text-transform: capitalize;
        @include respond-to($desktop) {
            font-size: 40px;
        }
    }
    &__description {
        font-size: 18px;
        color: $colorText1;
        font-weight: normal;
        @include respond-to($desktop) {
            font-size: 22px;
        }
    }
}
